<div class="container">

    <div id="wrapper">
        <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                        <a href="#/training">Képzés</a>
                    </li>
                    <li>
                        <a href="#">Építkezés</a>
                    </li>
                    <li>
                        <a href="#">Háború</a>
                    </li>
                    <li>
                        <a href="#">Felfedezés</a>
                    </li>
                    <li>
                        <a href="#">Beállítások</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-wrapper" class="col-md-10 pull-right">
            <div id="main">
                <form>
                    <table class="table table-condensed table-bordered">
                        <tr class="success">
                            <td colspan="12" align="center">
                                Képzés
                            </td>
                        </tr>

                        <tr>
                            <td width="10%" class="all-center" rowspan="2">Fajta</td>
                            <td width="10%" class="all-center" rowspan="2">Egység</td>
                            <td width="7%" class="all-center" rowspan="2">Van</td>
                            <td width="7%" class="all-center" rowspan="2">Sebesült</td>
                            <td width="10%" class="all-center" colspan="2">Képzés</td>
                            <td width="13%" class="all-center" rowspan="2" colspan="2">Fontosság</td>
                            <td width="13%" class="all-center" rowspan="2">Státusz</td>
                            <td width="5%" class="all-center" rowspan="2">Leállít</td>
                            <td width="10%" class="all-center" rowspan="2" colspan="2">Lefokoz</td>
                        </tr>
                        <tr>
                            <td width="10%" align="center" colspan="2">Átképzés</td>
                        </tr>
                        <tr ng-repeat="trainingLine in trainingLines">
                            <td class="all-center">{{trainingLine.unitType}}</td>
                            <td>{{trainingLine.name}}</td>
                            <td align="right">{{trainingLine.armyAmount}}</td>
                            <td align="right">{{trainingLine.armyWounded}}</td>
                            <td class="all-center"><input type="text" size="5" value="{{trainingLine.amount}}"/></td>
                            <td class="all-center"><input type="checkbox"></td>
                            <td class="all-center"><input type="text" size="5" value="{{trainingLine.priority}}"/></td>
                            <td class="all-center">-1 %</td>
                            <td class="all-center">K 0.00 kör (-1%)</td>
                            <td class="all-center"><input type="checkbox"/></td>
                            <td class="all-center"><input type="text" size="5"/></td>
                            <td class="all-center"><input type="checkbox"/></td>
                        </tr>
                        <tr>
                            <td colspan="10">Stáuszok: S=Szülőhiány (kevés a munkanélküli vagy amiből az átképzés folyik), A=Anyaghiány (dénár, fegyver, stb.),
                                K=Képzés (minden
                                rendben)
                            </td>
                            <td class="all-center" colspan="2"><input type="button" value="Végrehajt"/></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>

</div>
