<div class="container">

    <div id="wrapper">
        <div ng-include="$root.sidemenu"></div>
    </div>
    <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <form name="settingsForm" novalidate>
                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="3" align="center">
                            Pénzügy
                        </td>
                    </tr>

                    <tr>
                        <td width="10%" class="all-center">Adókulcs</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">BeállítBTN</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Egységek zsoldja és fogyasztása (alap: 100%)</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">BeállítBTN</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Pénz osztása a hadseregnek</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">SzétosztBTN</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Pénz osztása a népnek</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">SzétosztBTN</td>
                    </tr>
                </table>


                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="4" align="center">
                            Korszakváltás
                        </td>
                    </tr>

                    <tr>
                        <td width="50%" class="all-center" colspan="2">Jelenlegi korszak: #0, Nincs</td>
                        <td width="50%" class="all-center" colspan="2">Következő korszak: #1, Nincs+1</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">A korszakváltás feltételei</td>
                        <td width="10%" class="all-center">Jelenleg</td>
                        <td width="10%" class="all-center">Szükséges</td>
                        <td width="10%" class="all-center">Teljesítve</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Pontszám</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">Nem</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Játékidő</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">-1</td>
                        <td width="10%" class="all-center">Nem</td>
                    </tr>
                    <tr>
                        <td width="10%" class="all-center">Találmány</td>
                        <td width="10%" class="all-center">-</td>
                        <td width="10%" class="all-center">-</td>
                        <td width="10%" class="all-center">Nem</td>
                    </tr>
                    <tr>
                        <td width="50%" class="all-center" colspan="2"></td>
                        <td width="50%" class="all-center" colspan="2">KorszakváltásBTN</td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</div>
