.vcenter {
    vertical-align: bottom;
    margin-top: 6px
}

.bold {
    font-weight: bold;
}

body {
    background: url('../img/szilankvilag.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
