<div class="container" ng-controller="LoginCtrl">
    <div class="col-md-4"/>
    <div class="col-md-4">

        <form class="login" novalidate>
            <h2 class="form-signin-heading">Bejelentkezés</h2>

            <p>Nicknév:</p>
            <input type="text" id='user.name' class="form-control" ng-init="user.name='tester'" ng-model="user.name" required autofocus>

            <p>Jelszó:</p>
            <input type="password" id="password" class="form-control" ng-init="user.password='test1234'" ng-model="user.password" required>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">Bejelentkezve marad
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="update(user)" value="Bejelentkezés"/>
        </form>
    </div>
</div>
