<div class="container">

    <div id="wrapper">
        <div ng-include="$root.sidemenu"></div>
    </div>
    <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <form name="attackForm" novalidate>
                <table class="table table-condensed table-bordered">
                    <tr class="success bold">
                        <td colspan="6" align="center">
                            Háború
                        </td>
                    </tr>

                    <tr class="info bold">
                        <td colspan="6" align="center">
                            Úton lévő seregek
                        </td>
                    </tr>
                    <tr class="info bold">
                        <td colspan="6" align="center">
                            Idegen országban állomásozó seregek
                        </td>
                    </tr>
                    <tr class="danger bold">
                        <td colspan="6" align="center">
                            Idegen seregek az országban
                        </td>
                    </tr>
                    <tr class="warning bold">
                        <td colspan="6" align="center">
                            Összeállított seregek
                        </td>
                    </tr>
                    <tr class="info bold">
                        <td colspan="6" align="center">
                            Támadás előkészítése
                        </td>
                    </tr>
                    <tr>
                        <td width="5%" class="all-center"></td>
                        <td width="10%" class="all-center bold">Hajó</td>
                        <td width="7%" class="all-center bold">Férőhely</td>
                        <td width="7%" class="all-center bold">Mennyi</td>
                        <td width="7%" class="all-center bold">Kapacitás</td>
                        <td width="7%" class="all-center bold">Sebesség</td>
                    </tr>
                    <tr>
                        <td class="all-center" colspan="2"></td>
                        <td class="all-center bold">Összesen:</td>
                        <td class="all-center"></td>
                        <td class="all-center"></td>
                        <td class="all-center"></td>
                    </tr>
                    <tr class="info">
                        <td class="all-center"></td>
                        <td class="all-center"><strong>Egység</strong></td>
                        <td class="all-center"><strong>Sebesült</strong></td>
                        <td class="all-center"><strong>Pihen</strong></td>
                        <td class="all-center"><strong>Bevethető</strong></td>
                        <td class="all-center"><strong>Előkészít</strong></td>
                    </tr>

                    <tr ng-repeat="homeArmy in homeArmies">
                        <td class="all-center">&nbsp;</td>
                        <td class="text-left bold">
                            <div class="vcenter">{{homeArmy.name}}</div>
                        </td>
                        <td class="text-right">
                            <div class="vcenter">{{homeArmy.wounded}}</div>
                        </td>
                        <td class="text-right">
                            <div class="vcenter">{{homeArmy.resting}}</div>
                        </td>
                        <td class="text-right">
                            <div class="vcenter">{{homeArmy.amount}}</div>
                        </td>
                        <td class="all-center">
                            <div class="vcenter"><input class="form-control" ng-model="homeArmy.prepared"/></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="all-center bold">Akció</td>
                        <td class="all-center">
                            <select name="attackSelect" id="attackSelect" ng-model="prepareAttackTypeId" class="form-control">
                                <option ng-repeat="attackType in attackTypes" value="{{attackType.id}}">{{attackType.name}}</option>
                            </select></td>
                        <td class="all-center bold" colspan="2">Célpont</td>
                        <td class="all-center"><input class="form-control" ng-model="prepareTargetCountryId"/></td>
                        <td class="all-center" colspan="2"><input type="button" class="btn btn-info" value="Előkészít" ng-click="prepareAttack()"></td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</div>
