<div class="container">

    <div id="wrapper">
        <div ng-include="$root.sidemenu"></div>
    </div>
    <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <form name="attackForm" novalidate>
                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="6" align="center">
                            Háború
                        </td>
                    </tr>

                    <tr class="info">
                        <td colspan="6" align="center">
                            Úton lévő seregek
                         </td>
                    </tr>
                    <tr class="info">
                        <td colspan="6" align="center">
                            Idegen országban állomásozó seregek
                        </td>
                    </tr>
                    <tr class="info">
                        <td colspan="6" align="center">
                            Idegen seregek az országban
                        </td>
                    </tr>
                    <tr class="info">
                        <td colspan="6" align="center">
                            Összeállított seregek
                        </td>
                    </tr>
                    <tr class="info">
                        <td colspan="6" align="center">
                            Támadás előkészítése
                        </td>
                    </tr>
                    <tr>
                        <td width="5%" class="all-center"></td>
                        <td width="10%" class="all-center">Hajó</td>
                        <td width="7%" class="all-center">Férőhely</td>
                        <td width="7%" class="all-center">Mennyi</td>
                        <td width="7%" class="all-center">Kapacitás</td>
                        <td width="7%" class="all-center">Sebesség</td>
                    </tr>
                    <tr>
                        <td class="all-center" colspan="2"></td>
                        <td class="all-center">Összesen:</td>
                        <td class="all-center"></td>
                        <td class="all-center"></td>
                        <td class="all-center"></td>
                    </tr>
                    <tr>
                        <td class="all-center"></td>
                        <td class="all-center">Egység</td>
                        <td class="all-center">Sebesült</td>
                        <td class="all-center">Pihen</td>
                        <td class="all-center">Bevethető</td>
                        <td class="all-center">Előkészít</td>
                    </tr>
                    <tr ng-repeat="">

                    </tr>
                    <tr>
                        <td class="all-center">Akció</td>
                        <td class="all-center"></td>
                        <td class="all-center" colspan="2">Célpont</td>
                        <td class="all-center"></td>
                        <td class="all-center" colspan="2">ElőkészítBTN</td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</div>
