<div class="container">

    <div id="wrapper">
        <div ng-include="$root.sidemenu"></div>
    </div>
    <div id="main-wrapper" class="col-md-10 pull-right">
        <div id="main">
            <form name="trainingForm" novalidate>
                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="2" align="center">
                            Felfedezés
                        </td>
                    </tr>

                    <tr class="success">
                        <td colspan="2" align="center">
                            Felfedezés valószínűsége
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" class="all-center">Név</td>
                        <td width="50%" class="all-center">%</td>
                    </tr>

                    <tr class="success">
                        <td colspan="2" align="center">
                            1 hektár felfedezésének szükséglete
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" class="all-center">Anyag</td>
                        <td width="50%" class="all-center">Mennyiség</td>
                    </tr>
                    <tr class="success">
                        <td colspan="2" align="center">
                            Felfedezhető maximum -1 hektár
                        </td>
                    </tr>
                    <tr class="success">
                        <td colspan="2" align="center">
                            (Célirányos felfedezés esetén kevesebb)
                        </td>
                    </tr>
                </table>

                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="3" align="center">
                            Folyamatben lévő felfedezések
                        </td>
                    </tr>
                    <tr>
                        <td class="all-center">Hátralévő körök száma</td>
                        <td class="all-center">Hektár</td>
                        <td class="all-center">Terület</td>
                    </tr>
                </table>

                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="2" align="center">
                            Új felfedezés indítása
                        </td>
                    </tr>
                    <tr>
                        <td class="all-center">Mennyiség: -1</td>
                        <td class="all-center">MehetBTN</td>
                    </tr>
                    <tr class="success">
                        <td colspan="2" align="center">
                            Itt tudsz felfedezőkeet kiküldeni, hogy új területeket fedezzenek fel és csatoljanak az országodhoz.
                        </td>
                    </tr>
                </table>

                <table class="table table-condensed table-bordered">
                    <tr class="success">
                        <td colspan="3" align="center">
                            Célirányos felfedezés indítása
                        </td>
                    </tr>
                    <tr>
                        <td class="all-center">Mennyiség: [-1]</td>
                        <td class="all-center">Tererület: /lista/</td>
                        <td class="all-center">MehetBTN</td>
                    </tr>
                    <tr class="success">
                        <td colspan="3" align="center">
                            Itt tudsz célirányosan felfedezéseket indítani. Ez esetben felfedezőid nagy valószínűséggel rábukkannak majd arra a területre, amit
                            megadsz nekik, de ha mégsem sikerül, akkor üres területet sem fognak szerezni.
                        </td>
                    </tr>
                </table>


            </form>
        </div>
    </div>
</div>
</div>
